<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     
     <bean id="testController" class="com.app.controller.TestController">
     		<property name="testBusiness" ref="testBusiness"/>
     </bean>
     
     <bean id="testBusiness" class="com.app.business.TestBusiness">
     	<property name="testBusinessDao" ref="testBusinessDao"/>
     </bean>
     
     <bean id="testBusinessDao" class="com.app.dao.TestBusinessDaoImpl"></bean>
    
    
    </beans>